.draw {
margin-top: 300px; 
display: flex;
gap:70px;
justify-content: center;
align-items: center;
}


/* .cir {
  width: 100px;
  height: 100px;
  background: #83A7C9;
  border-radius: 50%;
} */



.tri {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #f30337;
}

.sqr {
  position: relative; 
  width: 100px;
  height: 100px;
  background: #d432e2;
}

.rec {
  width: 150px;
  height: 100px;
  background: #5957e0;
}


.cir {
  position: relative; 
  text-align: center; 
  padding: 20px; 
  border-radius: 50%; 
  background: #3D64FF;
  width: 80px;
  height: 80px;
}


.pulse::before {
  content: ''; 
  position: absolute;
  border: 2px solid #3D64FF; 
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite; 
}


@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}


.move {
  animation: move 2.5s linear infinite; 
}


@keyframes move {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 1;
  }
}


.rotate {
    
    animation: rotation 5s linear infinite; 
}

@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}


.def {
  animation: deformation 5s linear infinite; 
}


@keyframes deformation {
  0% {
    transform: skewX(-10deg);
}

25% {
    transform: skewX(10deg);
}

50% {
    transform: skewX(-10deg);
}

75% {
    transform: skewX(10deg);
}

100% {
    transform: skewX(-10deg);
}
}